RewriteEngine on
RewriteRule ^([a-zA-Z0-9\-_]+).html$ anasayfa.php?oziywebs=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-_]+)$ anasayfa.php?oziywebs=$1 [L,QSA]
RewriteRule ^blog/duzenle/(.*)$ anasayfa.php?oziywebs=blog-ekle&duzenle=$1 [L,QSA]
RewriteRule ^kategori/duzenle/(.*)$ anasayfa.php?oziywebs=kategori-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^urun/duzenle/(.*)$ anasayfa.php?oziywebs=urun-ekle&duzenle=$1 [L,QSA]
RewriteRule ^marka/duzenle/(.*)$ anasayfa.php?oziywebs=marka-ekle&duzenle=$1 [L,QSA]
RewriteRule ^kampanya/duzenle/(.*)$ anasayfa.php?oziywebs=kampanya-ekle&duzenle=$1 [L,QSA]
RewriteRule ^slider/duzenle/(.*)$ anasayfa.php?oziywebs=slider-ekle&duzenle=$1 [L,QSA]
RewriteRule ^sayfa/duzenle/(.*)$ anasayfa.php?oziywebs=sayfa-ekle&duzenle=$1 [L,QSA]
RewriteRule ^sss/duzenle/(.*)$ anasayfa.php?oziywebs=sss-ekle&duzenle=$1 [L,QSA]
RewriteRule ^uye/duzenle/(.*)$ anasayfa.php?oziywebs=uye-ekle&duzenle=$1 [L,QSA]
RewriteRule ^admin/duzenle/(.*)$ anasayfa.php?oziywebs=admin-ekle&duzenle=$1 [L,QSA]
RewriteRule ^mesaj-duzenle/(.*)$ anasayfa.php?oziywebs=mesaj-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^eposta-duzenle/(.*)$ anasayfa.php?oziywebs=eposta-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^eposta-gonder$ anasayfa.php?oziywebs=eposta-gonder [L,QSA]
RewriteRule ^kupon/duzenle/(.*)$ anasayfa.php?oziywebs=kupon-ekle&duzenle=$1 [L,QSA]
RewriteRule ^hediyeceki/duzenle/(.*)$ anasayfa.php?oziywebs=hediyeceki-ekle&duzenle=$1 [L,QSA]
RewriteRule ^destek-duzenle/(.*)$ anasayfa.php?oziywebs=destek-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^banka/duzenle/(.*)$ anasayfa.php?oziywebs=banka-ekle&duzenle=$1 [L,QSA]
RewriteRule ^kargo/duzenle/(.*)$ anasayfa.php?oziywebs=kargo-ekle&duzenle=$1 [L,QSA]
RewriteRule ^etiket/duzenle/(.*)$ anasayfa.php?oziywebs=etiket-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^siparis/duzenle/(.*)$ anasayfa.php?oziywebs=siparis-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^xml/duzenle/(.*)$ anasayfa.php?oziywebs=xml-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^sepet/duzenle/(.*)$ anasayfa.php?oziywebs=sepet-duzenle&duzenle=$1 [L,QSA]